{% extends 'front/master.html' %}

{% block mainblock %}

<div class="ftco-blocks-cover-1">
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<strong>Past Contests</strong>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td><a href="#services-section" class="nav-link">Contests</a></td>
						</tr>
						<tr>
							<td><a href="#services-section" class="nav-link">Contests</a></td>
						</tr>
						<tr>
							<td><a href="#services-section" class="nav-link">Contests</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm">
				<strong>Ongoing Contests</strong>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td><a href="problemlist" class="nav-link">Contests (this one is active now)</a></td>
						</tr>
						<tr>
							<td><a href="#services-section" class="nav-link">Contests</a></td>
						</tr>
						<tr>
							<td><a href="#services-section" class="nav-link">Contests</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm">
				<strong>Next Contests</strong>
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td><a href="#services-section" class="nav-link">Contests</a></td>
						</tr>
						<tr>
							<td><a href="#services-section" class="nav-link">Contests</a></td>
						</tr>
						<tr>
							<td><a href="#services-section" class="nav-link">Contests</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


</div>

{% endblock %}
