{% extends 'front/master.html' %}

{% block mainblock %}

{% for i in contest %}
<h1 style="color: black;">{{i.problem_name_4 | safe}}</h1>
{% endfor %}

{% for i in contest %}
<p>{{i.problem_time_limit_4 | safe}}</p>
{% endfor %}

{% for i in contest %}
<p>{{i.problem_memory_limit_4 | safe}}</p>
{% endfor %}

{% for i in contest %}
<p style="color: black;">{{i.problem_description_4 | safe}}</p>
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-sm">
		{% for i in contest %}
  	  <p style="color: black;">{{i.problem_input_4 | safe}}</p>
  	  {% endfor %}
    </div>
    <div class="col-sm">
		{% for i in contest %}
  	  <p style="color: black;">{{i.problem_output_4 | safe}}</p>
  	  {% endfor %}
  </div>
</div>





{% for i in contest %}
<p style="color: black;">{{i.problem_note_4}}</p>
{% endfor %}




{% endblock %}
