{% extends 'front/master.html' %}

{% block mainblock %}

<br></br>

<h1 style="color: black;">{{contest.problem_name_1 | safe}}</h1>



<p style="color: black;">{{contest.problem_time_limit_1 | safe}}</p>



<p style="color: black;">{{contest.problem_memory_limit_1 | safe}}</p>



<p style="color: black;">{{contest.problem_description_1 | safe}}</p>

<div class="container">
  <div class="row">
    <div class="col-sm">
  	  <br style="color: black;">{{contest.problem_input_1 | safe}}</br>
    </div>
    <div class="col-sm">
  	  <br style="color: black;">{{contest.problem_output_1 | safe}}</br>
  </div>
</div>





<p style="color: black;">{{contest.problem_note_1 | safe}}</p>




{% endblock %}
