{% extends 'front/master.html' %}

{% block mainblock %}

<p></p>
{% for i in contest %}
<div class="container">
  <a href="#" class="list-group-item list-group-item-action" style="text-align:center">{{i.problem_name_1}}</a>
  <a href="#" class="list-group-item list-group-item-action" style="text-align:center">{{i.problem_name_2}}</a>
  <a href="#" class="list-group-item list-group-item-action" style="text-align:center">{{i.problem_name_3}}</a>
  <a href="#" class="list-group-item list-group-item-action" style="text-align:center">{{i.problem_name_4}}</a>
  <a href="#" class="list-group-item list-group-item-action" style="text-align:center">{{i.problem_name_5}}</a>
</div>
{% endfor %}

{% endblock %}
