{% extends 'back/master.html' %}
{% load static %}



{% block mainblock %}



<div class="block full">
	<div class="block-title">
		<h2><strong>Contest</strong> List</h2>
	</div>


	<div class="table-responsive">
		<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
			<thead>
				<tr>
					<th class="text-center">Date</th>
					<th class="text-center">Name</th>
					<th class="text-center">Setter</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center"><span class="label label-info">probable_date</td>
					<td class="text-center"><a href="javascript:void(0)"><span class="label label-info">contest id</a></td>
					<td class="text-center"><span class="label label-info">contest_name</td>
					<td class="text-center"><span class="label label-info">setter_name</span></td>

				</tr>

			</tbody>
		</table>
	</div>
</div>
<!-- END Datatables Content -->
</div>


{% endblock %}
