{% extends 'back/master.html' %}
{% load static %}



{% block mainblock %}



<div class="block full">
	<div class="block-title">
		<h2><strong>Contest</strong> List</h2>
	</div>


	<div class="table-responsive">
		<table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
			<thead>
				<tr>
					<th class="text-center">Date</th>
					<th class="text-center">Name</th>
					<th class="text-center">Setter</th>
				</tr>
			</thead>
			<tbody>
				{% for i in contest %}
				<tr>
					<td class="text-center"><span class="label label-info">{{i.contest_time}}</td>
					<td class="text-center"><a href="javascript:void(0)"><span class="label label-info">{{i.contest_name}}</a></td>

					<td class="text-center"><span class="label label-info">{{i.contest_setter}}</span></td>

				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<!-- END Datatables Content -->
</div>


{% endblock %}
